<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />      
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <!--[if lt IE 9]>        
        <script src="~/scripts/respond.min.js"></script>
        <![endif]-->
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")                
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/script/bootstrap")
        @Scripts.Render("~/script/knockout")
        @Scripts.Render("~/script/utils")
        @Scripts.Render("~/script/app")
        
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">Chat</p>
                </div>               
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                   
                </div>
            </div>
        </footer>

        

        @RenderSection("scripts", required: false)
    </body>
</html>
